In [23]:
from pycaret.regression import *
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# for korean plotting
plt.rcParams['font.family'] = 'AppleGothic'
plt.rcParams['axes.unicode_minus'] = False

# Pandas option
pd.set_option('display.max_columns', None)

In [24]:
# data load
df = pd.read_csv('df_preprocessed.csv')

# Endog, Exog, add Constatnt
X = df[df.columns[~df.columns.str.contains('생활인구')]]
y = df['총_생활인구']
df = pd.concat([X, y], axis=1)
df = df.drop(['전체범죄', '매출건수'], axis=1)
df = df.dropna(axis=0, subset=['총_생활인구'])

In [25]:
commercial_type = df[df.columns[df.columns.str.contains('상권타입')]]
commercial_type.columns = ['골목상권','관광특구','발달상권','전통시장']
commercial_type = pd.Series(commercial_type.columns[np.where(commercial_type!=0)[1]])

df = df.drop(df.columns[df.columns.str.contains('상권타입')], axis=1)
df['상권타입'] = pd.Categorical(commercial_type, categories=commercial_type.unique(), ordered=False)
# df.info()

In [26]:
reg = setup(
    data = df, target='총_생활인구', session_id=123, 
    transformation=False, numeric_imputation='mode', categorical_imputation='mode',
    remove_multicollinearity=True, multicollinearity_threshold=0.95, 
    ordinal_features={'살인':[1,2,3,4,5], '강도':[1,2,3,4,5], '강간':[1,2,3,4,5], '절도':[1,2,3,4,5], '폭력':[1,2,3,4,5], '방화':[1,2,3,4,5],
    '마약':[1,2,3,4,5], '약취':[1,2,3,4,5], '도박':[1,2,3,4,5]}, categorical_features=['상권타입']
)

In [27]:
compare_models(errors='raise')

GradientBoostingRegressor(random_state=123)

In [28]:
gbr = create_model('gbr', fold=5)

In [29]:
tuned_gbr = tune_model(gbr)

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [30]:
plot_model(tuned_gbr, plot = 'parameter')

                             Parameters
alpha                               0.9
ccp_alpha                           0.0
criterion                  friedman_mse
init                               None
learning_rate                       0.1
loss                      squared_error
max_depth                             3
max_features                       None
max_leaf_nodes                     None
min_impurity_decrease               0.0
min_samples_leaf                      1
min_samples_split                     2
min_weight_fraction_leaf            0.0
n_estimators                        100
n_iter_no_change                   None
random_state                        123
subsample                           1.0
tol                              0.0001
validation_fraction                 0.1
verbose                               0
warm_start                        False

In [31]:
plot_model(tuned_gbr, plot = 'error', save=True)

'Prediction Error.png'

In [32]:
# FeatureImportancePlot
plot_model(tuned_gbr, plot='feature_all', save=True)

'Feature Importance (All).png'

In [33]:
# Feature Importance as df
featureimportance = pd.DataFrame([tuned_gbr.feature_names_in_, tuned_gbr.feature_importances_]).T
featureimportance.sort_values(by=1, ascending=False)
featureimportance = featureimportance.reset_index(drop=True)
featureimportance.to_csv('featureimportance.csv', index=False)
featureimportance

            0         1
0         Bus  0.024823
1      Subway   0.02002
2        유흥업소  0.021155
3          살인  0.000674
4          강도  0.000883
5          강간  0.000992
6          절도  0.004839
7          폭력  0.006507
8          방화  0.004243
9          마약  0.001761
10         약취  0.000766
11         도박   0.00085
12      112신고  0.029027
13    아파트_단지수  0.572046
14  아파트_평균_시가  0.034599
15        개업율  0.026881
16        폐업율  0.032058
17  프랜차이즈_침투율  0.035565
18        매출액  0.168585
19  상권타입_골목상권  0.004457
20  상권타입_전통시장  0.009269
21  상권타입_발달상권       0.0
22  상권타입_관광특구       0.0