In [97]:
from pycaret.regression import *
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# for korean plotting
plt.rcParams['font.family'] = 'AppleGothic'
plt.rcParams['axes.unicode_minus'] = False

# Pandas option
pd.set_option('display.max_columns', None)

In [109]:
# data load
df = pd.read_csv('assets_preprocessed.csv')
df['아파트_단지']=df['아파트_단지'].fillna(0)
df= df.drop('geometry',axis=1)

In [111]:
reg = setup(
    data = df, target='거래금액', session_id=123, 
    transformation=True, normalize=True, numeric_imputation='mode', categorical_imputation='mode',
    remove_multicollinearity=True, multicollinearity_threshold=0.95, 
    ordinal_features={'살인':[1,2,3,4,5], '강도':[1,2,3,4,5], '강간':[1,2,3,4,5], '절도':[1,2,3,4,5], '폭력':[1,2,3,4,5], '방화':[1,2,3,4,5],
    '마약':[1,2,3,4,5], '약취':[1,2,3,4,5], '도박':[1,2,3,4,5]}, categorical_features=['1층유무','용도_판매','용도_제2종근린생활'],
)

In [112]:
compare_models(errors='raise')

ExtraTreesRegressor(n_jobs=-1, random_state=123)

In [113]:
lgbm = create_model('lightgbm')

In [ ]:
tuned_lgbm = tune_model(lgbm)

In [116]:
plot_model(tuned_lgbm, plot = 'parameter')

                  Parameters
boosting_type           gbdt
class_weight            None
colsample_bytree         1.0
importance_type        split
learning_rate            0.1
max_depth                 -1
min_child_samples         20
min_child_weight       0.001
min_split_gain           0.0
n_estimators             100
n_jobs                    -1
num_leaves                31
objective               None
random_state             123
reg_alpha                0.0
reg_lambda               0.0
silent                  warn
subsample                1.0
subsample_for_bin     200000
subsample_freq             0

In [115]:
plot_model(tuned_lgbm, plot = 'error', save=True)

'Prediction Error.png'

In [117]:
# FeatureImportancePlot
plot_model(tuned_lgbm, plot='feature_all', save=True)

'Feature Importance (All).png'

In [127]:
# AUC plot
plot_model(tuned_lgbm, plot='learning', save=True)

'Learning Curve.png'

In [123]:
# Feature Importance as df
featureimportance = pd.DataFrame([tuned_lgbm.feature_name_, tuned_lgbm.feature_importances_]).T
featureimportance.sort_values(by=1, ascending=False)
featureimportance = featureimportance.reset_index(drop=True)
featureimportance.columns = ['Col','featureimportance']
featureimportance.to_csv('featureimportance.csv', index=False)
featureimportance

             Col featureimportance
0           전용면적               720
1           1층유무                94
2             연식               350
3     용도_제2종근린생활                37
4          용도_판매                 8
5             살인                30
6             강도                37
7             강간                20
8             절도                20
9             폭력                18
10            방화                18
11            마약                18
12            약취                20
13            도박                35
14         총신고건수                55
15        긴급신고비율               118
16        야간신고비율               107
17        총_생활인구                87
18        아파트_단지                73
19           매출액                99
20           Bus               130
21        Subway                55
22          유흥업소               106
23     생활인구_야간비율                64
24     생활인구_심야비율                72
25     생활인구_여성비율                91
26       개업율_요식업                52
27       폐업율_요식업                88
28   프랜차이즈비율_요식업                80
29      개업율_비요식업                75
30      폐업율_비요식업                76
31  프랜차이즈비율_비요식업                60
32         요식업비율                87

In [131]:
et = create_model('et')

In [132]:
tuned_et = tune_model(et)

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [135]:
tuned_et.get_params()

{'bootstrap': False,
 'ccp_alpha': 0.0,
 'criterion': 'squared_error',
 'max_depth': None,
 'max_features': 1.0,
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': -1,
 'oob_score': False,
 'random_state': 123,
 'verbose': 0,
 'warm_start': False}